
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Docker
*.log
*.pid
*.seed
*.bak
*.swp
*.tmp
*.sqlite3

# VS Code
.vscode/

# Pytest cache
.cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# IDEs
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
